<nav class = "navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <%#=image_tag("giraffe_xx.jpg", id: "xxnavpic", class: "img-fluid")%>
      <span><%=link_to "home", root_path%></span>
    </div>

          <ul class="nav navbar-nav pull-right">
            <% if user_signed_in? %>
              <li><%= link_to "Sign out", destroy_user_session_path, {:class => "navlink"}, method: 'DELETE' %></li>
            <% else %>
               <li><%= link_to "Log in",  new_user_session_path,{:class => "navlink"} %></li>
               <li><%= link_to "Sign up", new_user_registration_path, {:class => "btn-primary navbutton"} %> </li>
            <% end %>
     </ul>

          <div>
            <button type="button" class="btn btn-primary">
              Farm
            </button>
            <h3>Weather forcast</h3>

              <% if user_signed_in? %>
                  <%#=render "data" %>

                    <h2>farm data</h2>
                    <h3>humidity</h3>
                    <h3>voltage</h3>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>






          </div>
        </ul>
    </div>
</nav>
