<nav class = "navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <span class="navbar-brand navlink">
      <%#=image_tag("giraffe_xx.jpg", id: "xxnavpic", class: "img-fluid")%>
    <%=link_to "home", root_path, {:class => "navlink2"} %>
    </span>

              <% if user_signed_in? %>
                <a class ="navlink2 pull-right" data-method="delete" href="/logout">Sign out</a>
              <% else %>
              <ul class="nav navbar-nav pull-right">
               <li><%= link_to "Log in",  new_user_session_path,{:class => "navlink"} %></li>
               <li><%= link_to "Sign up", new_user_registration_path, {:class => "btn-primary navbutton"} %> </li>
            <% end %>
          </ul>

          <div>
            <a href="/arduino"><button type="button" class="btn btn-primary btn-lg navbutton">Farm</button></a>
          </div>
        </div>
      </div>
    </div>






          </div>
        </ul>
    </div>
</nav>
